{
  "env": {
    "development": {
      "presets": [
        "env",
        "stage-0"
      ]
    },
    "test": {
      "presets":[
        "env",
        "stage-0"
      ]
    },
    "production": {
      "presets":[
        ["env", {
          "targets": {
            "browsers": ["> 1%", "not ie <= 11"],
            "node": 6
          },
          "modules": false
        }],
        "stage-0"
      ],
      "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }
  }
}
