{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "last 2 versions"],
        "node": 6
      }
    }],
    "stage-0",
    ["babili", {
      "mangle": false
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
