name: Yarn
on: [pull_request]
jobs:
  yarn_lock_changes:
    name: Lock File Changes
    runs-on: ubuntu-latest
    # Permission overwrite is required for Dependabot PRs
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Digest Lock File
        uses: Simek/yarn-lock-changes@6b470f4e9ee22ef27ae771f23a2c1275315af286
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          collapsibleThreshold: 25
          failOnDowngrade: false
          path: yarn.lock
          updateComment: true
